<footer>
    <div class="left-footer">
        <p class="copyright">&copy;CLT Events</p>
        <a href="/main/about">ABOUT</a>
        <a href="/main/contact">CONTACT</a>
    </div>
    <div class="right-footer">
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-facebook"></a>
        <a href="#" class="fa-brands fa-twitter"></a>
    </div>
</footer>
</body>
</html>