<%- include('./partials/header.ejs')%>
<main>
    <div class="container-contentACE">
        <h1 class="purple"><%= error.status %> Error</h1>
            <p class="aboutContact"> <%= error.message %> </p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>