<%- include('../partials/header.ejs')%>

<main>
    <h1 class="h1">Sign Up: </h1>
    <form
    class="text" action="/user/login" method = 'POST'>
        
        <div class="inputBox">
            <input type="text"  name="firstName" id="firstName" placeholder="First Name" required>
        </div>
        
        <div class="inputBox">
            <input  type="text" name="lastName" id="lastName" placeholder="Last Name" required>
        </div>

        <div class="inputBox">
            <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        
        <div class="inputBox">
            <input type="password" name="password" id="password" placeholder="Password" minlength="8" maxlength="64" required>
        </div>
        
        <div class="btn2 inputBox">
            <input type="submit" name="submit" id ="submit" value="Sign Up">
        </div>

    </form>
    <br>
</main>

<%- include('../partials/footer.ejs')%>