<%- include('../partials/header.ejs')%>
<main>
    <div class="container-contentACE">
        <h1 class="purple">About Us:</h1>
            <p>
                We created this website for people who want to see what is going on in Charlotte, and most 
                importantly, to see it all in one place with different categories of interest.
            </p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>