<%- include('../partials/header.ejs')%>
<main>
    <div class="container-contentACE">
        <h1 class="purple">Contact Us:</h1>
            <h2 class="purple">Email: </h2>
            <p class="aboutContact"><a href="mailto:ekozicki@charlotte.edu">ekozicki@charlotte.edu</a></p>
            <h2 class="purple">Phone: </h2>
            <p class="aboutContact"><a href="tel:704-000-000">704-000-000</a></p>
        </div>
</main>
<%- include('../partials/footer.ejs')%>