<%- include('../partials/header.ejs')%>
    <main>
        <h1>Home</h1>
    <div class="container-content">
        <a><img src="https://assets-global.website-files.com/6521eeab24a3bd0b7e7c35a4/6566b4f25ea27b18ff19214f_Charlotte-Living.webp" alt="CLT SKyline"></a>
        <h2>Welcome to CLT Events!</h2>
        <p>
            Our website allows you to create and look at various events happening around Charlote.
            <br>No matter what your interests are, we assure you that you will be able to find something 
            <br>you like; at CLT Events, we wanted to create a website that would be inclusive to everyone.
            <br> Feel free to create an event or explore the existing ones.
        </p>
    </div>
    </main>
<%- include('../partials/footer.ejs')%>
